@import url(https://fonts.googleapis.com/css?family=Risque:regular);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Sometype+Mono:regular,500,600,700,italic,500italic,600italic,700italic);

body {
    background-color:black;
    background-image: url(/media/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* -----------------SEARCHBAR STYLING---------------------- */
.searchBar {
    display: flex;
    margin-top: 1%;
    margin-left: 57%;
    width: max-content;
    height: 70px;
    right: 200px;
}

input.inputBar {
    display: inline-block;
    border: 2px solid black;
    width: 30em;
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
}

input.inputBar::placeholder,
input.inputBar {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

.magHolder {
    display: inline-block;
    border: 2px solid black;
    background-color: #FFF9C8;
    width: 4em;
    border-radius: 0px 20px 20px 0px;
    padding-bottom: 8px;
    padding-right: 5px;
}

/* -----------------END OF SEARCHBAR STYLING---------------------- */

h2.cityName {
    font-family: Risque;
    text-shadow: 5px 0px #000000;;
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: 400;
}

.top .borderBox{
    width: 40%;
    border-radius: 30px;
    background-color: hsl(195, 100%, 86%, .9);
    margin: 1%;
}

.mainTopTxt {
    margin-top: 1em;
}

.borderBox .mainTopTxt {
    display: flex;
    justify-content: space-between;
}

h2 {
    display: inline;
}

h2.todayTxt {
    font-family: "Sorts Mill Goudy";
    margin-left: 5%;
    font-size: 40px;
    font-weight: 400;
}
.saveBtn{
    background-color: transparent;
    border: none;
}

h2.currentDay {
    font-family: "Sorts Mill Goudy";
    font-size: 35px;
    font-weight: 400;
}

.mainTopTxt img {
    margin-right: 2%;
}

.currentWeather {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4em;
}

.currentTemp {
    font-family:Orbitron;
    margin-bottom: -17px;
    font-weight: 800;
    font-size: 175px;
}

.weatherDesc {
    font-family:"Sometype Mono";
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.topRow{
    margin-top:10%;
    display:flex;
    justify-content: space-evenly;
}
.bottomRow{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
}
.topRow h3,
.bottomRow h3{
    font-family: "sorts Mill Goudy";
    font-weight:400;
    font-size:25px;
}

.topRow h2,
.bottomRow h2{
    font-weight:400;
    font-size:40px;
    font-family:orbitron;
    display: block;
    text-align: center;
}
.bottomRow{
    margin-bottom:5%;
}


.bottom .borderBox{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 17%;
    border-radius: 30px;
    background-color: hsl(195, 100%, 86%, .9);
    margin-top: 1%;
    padding-top:2%;
    padding-inline: 3%;
}
.bottom h2{
    font-size:25px;
    font-weight:400;
    font-family: "Sorts Mill Goudy";
}
.bottom h1{
    font-size:48px;
    font-weight:700;
    font-family:orbitron;
    padding-bottom: 15%;
}


.favoritesBar{
    display: flex;
    align-items: center;
    font-family:orbitron;
    font-weight:900;
    font-size:25px;
    width: 45%;
    background-color: hsl(0, 0%, 100%, .9);
    border-radius: 20px;
    border: 1px black solid;
}
.favoriteCityBar{
    display: flex;
    align-items: center;
    font-family:orbitron;
    font-weight:900;
    font-size:25px;
    width: 100%;
    height:10%;
    background-color: hsl(0, 0%, 100%, .9);
    border-radius: 20px;
    border: 1px black solid;
}
.favoriteCityBar h2{
    font-size:20px;
    font-weight:900;
    font-family:orbitron;
}
.heartIcon{
    width: 15%;
}

.offcanvas{
    background: hsla(195, 100%, 86%, 1);
}
.offcanvas h5{
    margin-top:3%;
    margin-left:2%;
    font-size: 25px;
    font-weight:400;
    font-style: italic;
    font-family: "Sorts Mill Goudy";
}
p {
    text-align: center;
}